<div class="w3-content w3-margin-top" style="max-width:1400px; text-align:center">
  <div class="w3-container w3-card w3-white w3-margin-bottom">
    <br>
    <i class="fa fa-phone fa-fw w3-xxxlarge w3-text-teal"></i>
    <h2 class="w3-text-grey w3-padding-16">Everyone Needs Help Sometimes</h2>

    <div class="w3-container">
      <p>There are so many resources out there if you or someone you know needs help blah blallah blah more
         info andom If you are ever feeling sad check out our page with useful links to resources on managing and coping with life.
        There will be more text here. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <br>
      <div >
        <h3 class="w3-text-grey w3-padding-16">The images below are inks to external resources</h3>
        <a href="https://adaa.org/living-with-anxiety/ask-and-learn/resources"><img src="https://adaa.org/sites/default/files/ADAA2016-RGB_horiz_0.jpg" alt="ADAA"></a>
        <a href="https://suicidepreventionlifeline.org/">
          <img src="https://media.clickorlando.com/photo/2019/03/13/suicidehotlineweb_1552496394301_21530477_ver1.0_1280_720.jpg" alt="ADAA" style="max-width:80%;">
        </a>
      </div>

    </div>
  </div>
  <br>
  <br>
</div>
