<br>
<h1>{{title}}
  <span [ngClass]="getEntryCount() >= 10 ?
    'badge badge-danger':getEntryCount() >= 5 ?
    'badge badge-warning' : 'badge badge-success'">
    {{getEntryCount()}}

  </span>
</h1>
<!-- Show Complete: <input type="checkbox" [(ngModel)]="showComplete"> -->
<br>
<div *ngIf="selected && ! editEntry">
  <h4>ID: {{selected.id}}</h4>
  <h3>{{selected.title}}</h3>
  <h3>{{selected.date}}</h3>
  <p>Mood: {{selected.mood}}</p>
  <p>Gratitude: {{selected.gratitude}}</p>
  <p>Notes: {{selected.note}}</p>
  <button (click)="displayTable()">Back</button>
  <button (click)="setEditEntry()">Edit</button>
</div>
<div *ngIf="editEntry">
  <form>
    <label for="title">Title</label>
    <input type="text" name="title" [(ngModel)]="editEntry.title"> <br>
    <label for="mood">Mood</label>
    <input type="number" name="mood" [(ngModel)]="editEntry.mood"> <br>
    <label for="gratitude">Gratitude</label>
    <input type="text" name="gratitude" [(ngModel)]="editEntry.gratitude"> <br>
    <label for="note">Notes</label>
    <input type="text" name="note" [(ngModel)]="editEntry.note"> <br>
    <button (click)="updateEntry(editEntry)">Save</button>
    <button (click)="editEntry = null">Cancel</button>
  </form>
</div>
<div *ngIf="!selected">
  <table class="table table-striped table-hover">
    <thead class="thead thead-dark">
      <tr>
        <th>Entry</th>
        <th>Date</th>
        <th>Mood</th>
        <th>Gratitude</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let entry of entries">
        <td (click)="displayEntry(entry)">{{entry.id}}{{entry.title}}</td>
        <td>{{entry.date}}</td>
        <td>{{entry.mood}}</td>
        <td>{{entry.gratitude}}</td>
        <!-- <td><input type="checkbox" name="completed" [(ngModel)]="todo.completed" (change)="updateTodo(todo)"></td> -->
        <!-- <td [ngClass]="changeTodoCompleted(todo)">{{todo.completed}}</td> -->
        <td><button (click)="deleteEntry(entry.id)">Delete</button></td>
      </tr>
    </tbody>
  </table>

</div>

<div *ngIf="!newEntry" >
  <button mat-raised-button (click)="showForm()">New Entry</button>
</div>

<div *ngIf="newEntry">
  <form>
    <label for="title">Entry Title</label>
    <input type="text" name="title" [(ngModel)]="newEntry.title"><br>
    <label for="mood">How are you feeling today?</label>
    <input type="range" id="mood" name="mood" min="1" max="10" [(ngModel)]="newEntry.mood"><br>
    <label for="gratitude">What are you grateful for today?</label>
    <input type="text" name="gratitude" [(ngModel)]="newEntry.gratitude"><br>
    <label for="note">Here you can journal, jot notes, write a poem or just scribble down a thought. It is up to you!</label>
    <input type="text" name="note" [(ngModel)]="newEntry.note"><br>
    <button (click)="addEntry(newEntry)">Add Entry</button>
    <button (click)="cancelEntry()">Cancel</button>
  </form>
</div>
