<div class="w3-content w3-margin-top" style="max-width:1400px; text-align:center">
  <div class="w3-container w3-card w3-white w3-margin-bottom">
    <br>
    <i class="fa fa-puzzle-piece fa-fw w3-xxxlarge w3-text-teal"></i>
    <h2 class="w3-text-grey w3-padding-16">What is grAttitude?</h2>

    <div class="w3-container">
      <p>grAttitude is simple yet rewarding web application for journaling and reminding ourselves what we are grateful for.
        I developed this grAttitude as an experiement to expand my programming knowledge but more importantly to see if keeping track of what you are grateful really does improve your mood.
        If you are ever feeling sad check out our page with useful links to resources on managing and coping with life.
        There will be more text here. Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
      <br>
      <div >
        <p>Sincerely,</p>
        <H5>Lu</H5>
      </div>

    </div>
  </div>
</div>
